<form method="POST" action="<%= url("/search") %>">
	Text: <input type="text" name="containing" value="<%= params[:containing] %>" /><br />
	Absender: <input type="text" name="sender" value="<%= params[:sender] %>" /><br />
    Mentions: <select name="mentions">
        <option>Alles</option>
        <option value="only">Nur Mentions</option>
        <option value="none">Keine Mentions</option>
    </select><br />
    Sortierung: <select name="order">
        <option value="desc">Neueste oben</option>
        <option value="asc">Älteste oben</option>
    </select><br />
	Limit: <input type="text" name="limit" value="<%= params[:limit] %>" /><br />

	<input type="submit" value="Suchen" />
</form>
