@stats

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="<%= url '/highstock/js/highstock.js' %>" type="text/javascript"></script>

<div id="container" style="width: 1000px; height: 600px;"></div>

<script type="text/javascript">
	chart = new Highcharts.StockChart({
		chart: {
			renderTo: 'container',
			alignTicks: false
		},
		
		rangeSelector: {
			selected: 1
		},
		
		title: {
			text: 'Tweets von @<%= @sender %>'
		},
		
		series: [{
			type: 'column',
			name: 'tweets',
			data: <%= @stats.collect{|s| [s[0].to_time.to_i*1000, s[1]]}.to_json %>,
			dataGrouping: {
				units: [[
					'week',
					[1]
				], [
					'month',
					[1, 2, 3, 4, 6]
				]]
			}
		}]
	});
</script>


